<h1>Event Name: <%= @meetup.name %></h1>
<h2>Description: <%= @meetup.description %> </h2>
<h2>Location: <%= @meetup.location %> </h2>
<h3>Creator: <%= @username.username %> </h3>
<span><a href='/'>Back</a></span>
